@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
    margin: 0;
    background-color: lightgray;
    font-family: 'Mochiy Pop One', sans-serif;
}

#start-screen, #game-screen{
    background-color: #EFF7FA;
    text-align: center;
    color: #0272A8;
    padding: 0 10px 10px 10px;
}



#my-canvas {
    background-color: lightgray;
}

/* #start-screen {
    background-image: url("./images/start-screen.png");
} */

#start-btn,
#restart-btn {
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    background-color:#1792C8;
    border-color: white;
    border-radius: 5px;
    font-family: 'Mochiy Pop One', sans-serif;
 }



.container {
    background-color: #EFF7FA;
    /* color:#0272A8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#score{
    position: absolute;
    width: 130px;
    height: 20px;
    margin-top: 500px;
    left: 25px;
    text-align: center; 
}

#my-canvas,
#gameover-screen{
    display: none;
}



/* .hide-element {
    display:none;
} */